{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "SeedAdmin": {
    "Email": "admin@deepwell.se",
    "Password": "Admin123!"
  }
}
