<!-- Shared header: Topbar + Navbar -->
<div class="container-fluid d-none d-lg-block">
  <div class="row align-items-center py-4 px-xl-5">
    <div class="col-lg-3">
      <a href="index.html" class="text-decoration-none">
        <h1 class="m-0"><span class="text-primary">Deepwell</span> <span class="text-dark">Education</span></h1>
      </a>
    </div>
    <div class="col-lg-3 text-right">
      <div class="d-inline-flex align-items-center">
        <i class="fa fa-2x fa-map-marker-alt text-primary mr-3"></i>
        <div class="text-left">
          <h6 class="font-weight-semi-bold mb-1">Address</h6>
          <small>Norra Svedengatan 13, Linköping, Sweden</small>
        </div>
      </div>
    </div>
    <div class="col-lg-3 text-right">
      <div class="d-inline-flex align-items-center">
        <i class="fa fa-2x fa-envelope text-primary mr-3"></i>
        <div class="text-left">
          <h6 class="font-weight-semi-bold mb-1">Email</h6>
          <small>info@deepwell.se</small>
        </div>
      </div>
    </div>
    <div class="col-lg-3 text-right">
      <div class="d-inline-flex align-items-center">
        <i class="fa fa-2x fa-phone text-primary mr-3"></i>
        <div class="text-left">
          <h6 class="font-weight-semi-bold mb-1">Tel</h6>
          <small>+46 76 1717 996</small>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row border-top px-xl-5">
    <div class="col-lg-3 d-none d-lg-block">
      <a class="d-flex align-items-center justify-content-between bg-secondary w-100 text-decoration-none app-vertical-toggle"
         data-toggle="collapse"
         href="#navbar-vertical">
        <h5 class="text-primary m-0"><i class="fa fa-language mr-2"></i>Languages</h5>
        <i class="fa fa-angle-down text-primary"></i>
      </a>
      <nav class="collapse position-absolute navbar navbar-vertical navbar-light align-items-start p-0 border border-top-0 border-bottom-0 bg-light app-vertical-nav"
           id="navbar-vertical">
        <div class="navbar-nav w-100" id="nav-language-list">
          <a href="language-detail.html?lang=zh" class="nav-item nav-link app-nav-lang-link"><img class="app-lang-flag app-lang-flag--nav" src="images/flags-course/china.png" alt="" aria-hidden="true"><span>Chinese</span></a>
          <a href="language-detail.html?lang=en" class="nav-item nav-link app-nav-lang-link"><img class="app-lang-flag app-lang-flag--nav" src="images/flags-course/united-kingdom.png" alt="" aria-hidden="true"><span>English</span></a>
          <a href="language-detail.html?lang=fr" class="nav-item nav-link app-nav-lang-link"><img class="app-lang-flag app-lang-flag--nav" src="images/flags-course/france.png" alt="" aria-hidden="true"><span>French</span></a>
          <a href="language-detail.html?lang=sv" class="nav-item nav-link app-nav-lang-link"><img class="app-lang-flag app-lang-flag--nav" src="images/flags-course/sweden.png" alt="" aria-hidden="true"><span>Swedish</span></a>
          <a href="language-detail.html?lang=it" class="nav-item nav-link app-nav-lang-link"><img class="app-lang-flag app-lang-flag--nav" src="images/flags-course/italy.png" alt="" aria-hidden="true"><span>Italian</span></a>
          <a href="language-detail.html?lang=ja" class="nav-item nav-link app-nav-lang-link"><img class="app-lang-flag app-lang-flag--nav" src="images/flags-course/japan.png" alt="" aria-hidden="true"><span>Japanese</span></a>
          <a href="language-detail.html?lang=es" class="nav-item nav-link app-nav-lang-link"><img class="app-lang-flag app-lang-flag--nav" src="images/flags-course/spain.png" alt="" aria-hidden="true"><span>Spanish</span></a>
          <a href="language-detail.html?lang=de" class="nav-item nav-link app-nav-lang-link"><img class="app-lang-flag app-lang-flag--nav" src="images/flags-course/germany.png" alt="" aria-hidden="true"><span>German</span></a>
          <a href="course.html" class="nav-item nav-link border-top mt-1 pt-2">All courses</a>
        </div>
      </nav>
    </div>
    <div class="col-lg-9">
      <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-0">
        <a href="index.html" class="text-decoration-none d-block d-lg-none">
          <h1 class="m-0"><span class="text-primary">Deepwell</span> <span class="text-dark">Education</span></h1>
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
          <div class="navbar-nav py-0" data-site-nav>
            <a href="index.html" class="nav-item nav-link" data-nav="index.html">Home</a>
            <a href="course.html" class="nav-item nav-link" data-nav="course.html">Courses</a>
            <a href="about.html" class="nav-item nav-link" data-nav="about.html">About us</a>
            <a href="contact.html" class="nav-item nav-link" data-nav="contact.html">Contact us</a>
            <a href="student.html" class="nav-item nav-link" data-nav="student.html">My account</a>
          </div>
          <div id="auth-nav-slot" class="navbar-nav py-0 ml-auto">
            <a href="login.html" class="nav-item nav-link">Login</a>
          </div>
        </div>
      </nav>
    </div>
  </div>
</div>


