<div class="container pt-5 pb-3">
    <div class="text-center mb-5">
        <h5 class="text-primary text-uppercase mb-3 app-letter-spacing-5">Languages</h5>
        <h1>Choose a language</h1>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="cat-item position-relative overflow-hidden rounded mb-2">
                <img class="img-fluid" src="images/country/greatwall.png" alt="">
                <a class="cat-overlay text-white text-decoration-none" href="language-detail.html?lang=zh">
                    <h4 class="text-white font-weight-medium">Chinese</h4>
                    <span>Browse courses</span>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="cat-item position-relative overflow-hidden rounded mb-2">
                <img class="img-fluid" src="images/country/london.png" alt="">
                <a class="cat-overlay text-white text-decoration-none" href="language-detail.html?lang=en">
                    <h4 class="text-white font-weight-medium">English</h4>
                    <span>Browse courses</span>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="cat-item position-relative overflow-hidden rounded mb-2">
                <img class="img-fluid" src="images/country/paris.png" alt="">
                <a class="cat-overlay text-white text-decoration-none" href="language-detail.html?lang=fr">
                    <h4 class="text-white font-weight-medium">French</h4>
                    <span>Browse courses</span>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="cat-item position-relative overflow-hidden rounded mb-2">
                <img class="img-fluid" src="images/country/stockholm.png" alt="">
                <a class="cat-overlay text-white text-decoration-none" href="language-detail.html?lang=sv">
                    <h4 class="text-white font-weight-medium">Swedish</h4>
                    <span>Browse courses</span>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="cat-item position-relative overflow-hidden rounded mb-2">
                <img class="img-fluid" src="images/country/florence.png" alt="">
                <a class="cat-overlay text-white text-decoration-none" href="language-detail.html?lang=it">
                    <h4 class="text-white font-weight-medium">Italian</h4>
                    <span>Browse courses</span>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="cat-item position-relative overflow-hidden rounded mb-2">
                <img class="img-fluid" src="images/country/fuji.png" alt="">
                <a class="cat-overlay text-white text-decoration-none" href="language-detail.html?lang=ja">
                    <h4 class="text-white font-weight-medium">Japanese</h4>
                    <span>Browse courses</span>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="cat-item position-relative overflow-hidden rounded mb-2">
                <img class="img-fluid" src="images/country/spanish.png" alt="">
                <a class="cat-overlay text-white text-decoration-none" href="language-detail.html?lang=es">
                    <h4 class="text-white font-weight-medium">Spanish</h4>
                    <span>Browse courses</span>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="cat-item position-relative overflow-hidden rounded mb-2">
                <img class="img-fluid" src="images/country/castle.png" alt="">
                <a class="cat-overlay text-white text-decoration-none" href="language-detail.html?lang=de">
                    <h4 class="text-white font-weight-medium">German</h4>
                    <span>Browse courses</span>
                </a>
            </div>
        </div>
    </div>
</div>
